In [1]:
%load_ext kedro.ipython

[08/22/25 18:45:55] INFO     Using '/Users/giocrisraigodoy/Documents/DUOC/Semestre_2025_2/Machine   __init__.py:270
                             Learning/spaceflights/.venv/lib/python3.12/site-packages/kedro/framewo
                             rk/project/rich_logging.yml' as logging configuration.

                    INFO     Registered line magic '%reload_kedro'                                   __init__.py:63

                    INFO     Registered line magic '%load_node'                                      __init__.py:65

                    INFO     Resolved project path as:                                              __init__.py:180
                             /Users/giocrisraigodoy/Documents/DUOC/Semestre_2025_2/Machine
                             Learning/spaceflights.
                             To set a different path, run '%reload_kedro <project_root>'

[08/22/25 18:46:10] INFO     Kedro is sending anonymous usage data with the sole purpose of improving plugin.py:233
                             the product. No personal data or IP addresses are stored on our side. If
                             you want to opt out, set the `KEDRO_DISABLE_TELEMETRY` or `DO_NOT_TRACK`
                             environment variables, or create a `.telemetry` file in the current
                             working directory with the contents `consent: false`. Read more at
                             https://docs.kedro.org/en/stable/configuration/telemetry.html

                    INFO     Kedro project spaceflights                                             __init__.py:146

                    INFO     Defined global variable 'context', 'session', 'catalog' and            __init__.py:147
                             'pipelines'

[08/22/25 18:46:11] INFO     Registered line magic 'run_viz'                                        __init__.py:153

In [2]:
catalog.keys()

[
    'companies',
    'reviews',
    'shuttles',
    'preprocessed_companies',
    'preprocessed_shuttles',
    'model_input_table',
    'regressor',
    'shuttle_passenger_capacity_plot_exp',
    'shuttle_passenger_capacity_plot_go',
    'dummy_confusion_matrix',
    'parameters',
    'params:model_options',
    'params:model_options.test_size',
    'params:model_options.random_state',
    'params:model_options.features'
]

In [3]:
catalog.load('companies')

[08/22/25 18:47:43] INFO     Loading data from companies (CSVDataset)...                       data_catalog.py:1046

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,f
1,46728,100%,NaN,1.0,f
2,34618,38%,Isle of Man,1.0,f
3,28619,100%,Bosnia and Herzegovina,1.0,f
4,8240,NaN,Chile,1.0,t
...,...,...,...,...,...
10014,20213,NaN,Russian Federation,1.0,f
10015,2235,100%,Guinea,1.0,f
10016,2353,100%,Senegal,2.0,t
10017,49772,100%,Jersey,1.0,f
10018,16548,90%,NaN,2.0,f

In [4]:
companies_df = catalog.load('companies')

[08/22/25 18:48:33] INFO     Loading data from companies (CSVDataset)...                       data_catalog.py:1046

In [5]:
companies_df.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,f
1,46728,100%,NaN,1.0,f
2,34618,38%,Isle of Man,1.0,f
3,28619,100%,Bosnia and Herzegovina,1.0,f
4,8240,NaN,Chile,1.0,t

In [6]:
companies_df.tail()

,id,company_rating,company_location,total_fleet_count,iata_approved
10014,20213,NaN,Russian Federation,1.0,f
10015,2235,100%,Guinea,1.0,f
10016,2353,100%,Senegal,2.0,t
10017,49772,100%,Jersey,1.0,f
10018,16548,90%,NaN,2.0,f

In [7]:
companies_df.describe()

                 id  total_fleet_count
count  10019.000000       10017.000000
mean   25038.690788           1.844464
std    14445.346466          12.446153
min        1.000000           1.000000
25%    12610.000000           1.000000
50%    24858.000000           1.000000
75%    37547.000000           1.000000
max    50098.000000        1105.000000

In [9]:
import pandas as pd

In [10]:
def _is_true(x: pd.Series) -> pd.Series:
    return x == "t"

In [11]:
companies_df["iata_approved"]

0        f
1        f
2        f
3        f
4        t
        ..
10014    f
10015    f
10016    t
10017    f
10018    f
Name: iata_approved, Length: 10019, dtype: object

In [12]:
_is_true(companies_df["iata_approved"])

0        False
1        False
2        False
3        False
4         True
         ...
10014    False
10015    False
10016     True
10017    False
10018    False
Name: iata_approved, Length: 10019, dtype: bool

In [13]:
companies_df["iata_approved"] = _is_true(companies_df["iata_approved"])

In [14]:
companies_df["iata_approved"]

0        False
1        False
2        False
3        False
4         True
         ...
10014    False
10015    False
10016     True
10017    False
10018    False
Name: iata_approved, Length: 10019, dtype: bool

In [15]:
companies_df

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,False
1,46728,100%,NaN,1.0,False
2,34618,38%,Isle of Man,1.0,False
3,28619,100%,Bosnia and Herzegovina,1.0,False
4,8240,NaN,Chile,1.0,True
...,...,...,...,...,...
10014,20213,NaN,Russian Federation,1.0,False
10015,2235,100%,Guinea,1.0,False
10016,2353,100%,Senegal,2.0,True
10017,49772,100%,Jersey,1.0,False
10018,16548,90%,NaN,2.0,False